// Colors
$white: #fff;

$color-primary: #58e1c1;
$color-secondary: #777;
$color-accent: #51ddfc;
$color-border: #ccc;

$color-accent-light: lighten($color-accent, 15%);
$color-primary-opac: rgba($color-primary, .6);

$color-error: #e4757a;
$color-info: #927bc1;
$color-success: #63cc82;
$color-warn: #fd7856;
$color-error-light: lighten($color-error, 15%);
$color-info-light: lighten($color-info, 15%);
$color-success-light: lighten($color-success, 15%);
$color-warn-light: lighten($color-warn, 15%);


// Text Transform
$caps: uppercase;

//Border Radius
$bdr-rad: 5px;

// Media queries

$break: 768px;